:root {
    --header-color: #17171A;
}
body {
    margin: 0px;
    background-color: #121214;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color);
    color: white;
    padding: 64px 32px;
    margin-bottom: 80px;
}
nav {
    width: 100%;
    max-width: 1216px;
    text-align: center;
}
.title {
    font-size: 40px;
    margin: 0px;
    margin-bottom: 48px;
}
.searchBar {
    background-color: #202024;
    background-image: url('./assets/icon-search.png');
    background-position: 24px 10px; 
    background-repeat: no-repeat;
    padding: 16px 24px 16px 72px;
    border: 2px solid #202024;
    border-radius: 8px;
    outline: #202024;
    font-size: 20px;
    width: calc(100% - 100px);
    color: #AFABB6;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: calc(100% - 64px);
    padding: 64px 32px;
    color: white;
}
article {
    width: 100%;
    max-width: 1216px;
    background-color: #17171A;
    border: 2px solid #252529;
    border-radius: 8px;
    padding: 40px;
    margin-bottom: 40px;
    width: calc(100% - 40px);
}
article:hover {
    border: 2px solid #E07B67;
}
.article_date {
    color:#E07B67;
    font-size: 16px;
    font-weight: 500px;
}
.article_title {
    font-size: 24px;
    font-weight: 500px;
    margin: 4px 0px;
}
.article_text {
    color: #AFABB6;
    font-size: 20px;
}
.article_dateHeart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#heart_icon {
    fill:#17171A;
    stroke: #E07B67;
    stroke-width: 7;
    transition: fill 0.3s;
    cursor: pointer;
}

#heart_icon.filled,
#heart_icon:hover{
    fill: #E07B67;
}